{
  "DiskProvisioning": "flat",
  "IPAllocationPolicy": "dhcpPolicy",
  "IPProtocol": "IPv4",
  "PropertyMapping": [
    {
      "Key": "guestinfo.hostname",
      "Value": {{ vesxi_basename }}{{ ansible_loop.index}}
    },
    {
      "Key": "guestinfo.ipaddress",
      "Value": {{ vesxi_starting_ip | ipmath(ansible_loop.index0) }}
    },
    {
      "Key": "guestinfo.netmask",
      "Value": "255.255.255.0"
    },
    {
      "Key": "guestinfo.gateway",
      "Value": {{ vcsa_gateway }}
    },
    {
      "Key": "guestinfo.vlan",
      "Value": ""
    },
    {
      "Key": "guestinfo.dns",
      "Value": {{ hostvars.pimaster.ansible_host }}
    },
    {
      "Key": "guestinfo.domain",
      "Value": {{ vcsa_dns_domain }}
    },
    {
      "Key": "guestinfo.ntp",
      "Value": {{ vcsa_gateway }}
    },
    {
      "Key": "guestinfo.syslog",
      "Value": ""
    },
    {
      "Key": "guestinfo.password",
      "Value": {{ esx_password }}
    },
    {
      "Key": "guestinfo.ssh",
      "Value": "True"
    },
    {
      "Key": "guestinfo.createvmfs",
      "Value": "False"
    }
  ],
  "NetworkMapping": [
    {
      "Name": "VM Network",
      "Network": {{ default_portgroup }}
    }
  ],
  "Annotation": "Nested ESXi 6.7 Update 3 Appliance (Build 13006603) www.virtuallyghetto.com",
  "MarkAsTemplate": false,
  "PowerOn": true,
  "InjectOvfEnv": true,
  "WaitForIP": false,
  "Name": {{ vesxi_basename }}{{ ansible_loop.index}}
}
